<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1 - CMPT 276</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
        <main id="introSection">
        <h1>Greg Cutcher's Weather App
        For CMPT 276</h1>
        </main>

    <select id="selectCity" class="form-select">
        <option>Brampton</option>
        <option>Calgary</option>
        <option>Edmonton</option>
        <option>Halifax</option>
        <option>Hamilton</option>
        <option>Kitchener</option>
        <option>Laval</option>
        <option>London</option>
        <option>Mississauga</option>
        <option>Montreal</option>
        <option>Ottawa</option>
        <option>Quebec City</option>
        <option>Toronto</option>
        <option>Vancouver</option>
        <option>Winnipeg</option>
        <option>Surrey</option>
    </select>
    </body>
    <br><br><br>
    Top 10 most beautiful cities in the world as cited by worldpopulationreview.com
    <p></p>
    <table>
        <tr><td>1) Paris, France</td><td>6) Barcelona, Spain</Span></td></tr>
        <tr><td>2) New York City, USA</td><td>7) Cape Town, South Africa</td></tr>
        <tr><td>3) London, UK</td><td>8) San Francisco, USA</td></tr>
        <tr><td>4) Venice, Italy</td><td>9) Sydney, Australia</td></tr>
        <tr><td>5) Vancouver, Canada</td><td>10) Rome, Italy</td></tr>
    </table>